@import url(fields/index.css);

/* distancia entre o titulo "crie seu convite" para o forms "sobre o evento" */
form {
    margin-top: 2.5rem;
}

/* tirar bordas e configuraçoes padroes do fieldset */
fieldset {
    border: none;

    display: grid;
    gap: 1rem;
}

legend {
    font: var(--heading-sm);
    color: var(--text-heading);
}