* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* font family */
    --font-leckerli: 'Leckerli One', sans-serif;
    --font-baloo: 'Baloo 2', sans-serif;
    --font-open: 'Open Sans', sans-serif;

    /* especificidades fontes */
    --text-logo: 400 2.5rem/1.5 var(--font-leckerli);

    --heading-md: 700 1.75rem/1.5 var(--font-baloo);
    --heading-sm: 700 1.125rem/1.5 var(--font-baloo);

    --body-md: 400 1rem/1.5 var(--font-open);
    --body-sm: 400 0.875rem/1.5 var(--font-open);
    --body-xs: 400 0.75rem/1.5 var(--font-open);


    /* cores */
    /* brand colors */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* Accent colors */
    --color-purple: #B259FF;
    --color-fuschia:#FF59F9;
    --color-pink: #FF598B;
    --color-orange: #FF8B59;
    --color-yellow: #FFCD59;
    --color-lime: #E1FF59;
    --color-green: #59FF91;
    --color-cyan: #59FFF9;
    --color-navy: #6A59FF;
    
    /* feedback */
    --color-feedback: #FF5959;

    /* input */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /* shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* text color */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}